$fontePrincipal: 'Space Mono', monospace;

$corFundo:#C5E4E7;
$corPrimaria: #00474B;
$corSecundaria:#26C2AE;
$corTerciaria:#F3F9FA;
$corQuartenaria: #7F9D9F;
$corTitulos: #5E7A7D;
$corHover:#9FE8DF;
$corBotao: #0D686D;
$corPlaceholder: #547878;
$corError:#E17457